<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="3" parallel="tests">
    <listeners>
        <listener class-name="ListenerUtil"></listener>
    </listeners>
    <test name="TC004_OrangeHRMApplication">

        <classes>
            <class name="TC004_OrangeHRMApplication">

            </class>

        </classes>
    </test>

</suite>